[Unit]
Description=UBNT SystemHub

[Service]
Type=notify
Restart=always
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=/sbin/ubnt-systemhub

[Install]
WantedBy=multi-user.target
